<% include ../partials/header %>
<div class="ui container">
    <div class="ui raised card">
        <div class="content">
            <a href="" class="header">
                <p>Name: <%= user.firstName %></p>
            </a>
            <div class="description">
                <p>Last Name: <%= user.lastName %></p>
                <p>User Name: <%= user.username %></p>
            </div>
            <div class="extra content">
                <a href="">
                    <p><i class="user icon"></i>Employee Number: <%= user.employeeNumber %></p>
                </a>
            </div>
        </div>
        <% if(currentUser && user.manager.id.equals(currentUser._id)) { %>
        <div class="ui bottom attached">
            <div class="ui button">
            <i class="add icon"></i>
                <a href="/users/<%= user._id %>/edit">
                    EDIT USER
                </a>
            </div>
            <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
                <input class="ui button" type="submit" value="DELETE USER">
            </form>
        </div>
        <% } %>
  </div>
</div>
<% include ../partials/footer %>

